# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Privacy\MyPate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
